<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215302735890-eqge6a9sobs9aqjjrconvvkin05as2ef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215302735890-eqge6a9sobs9aqjjrconvvkin05as2ef</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>215302735890-p05d5ta62pain335ioqk4bog0nkmrkge.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDv7w3zPAJeKELeLFdfCS1IKpPpyPEvwbU</string>
	<key>GCM_SENDER_ID</key>
	<string>215302735890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.milvik.bima</string>
	<key>PROJECT_ID</key>
	<string>bimapoc</string>
	<key>STORAGE_BUCKET</key>
	<string>bimapoc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215302735890:ios:c7c54a5e2667e90d88f0cb</string>
</dict>
</plist>